{% extends 'project/header.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mt-3 sub" style="border-color:#2A30AD;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center">Weekly Subscription</h3>
                        </div>
                        <p class="mt-5 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Consequatur tempora voluptatem nam adipisci, esse alias officiis aspernatur ipsam
                            laboriosam impedit, temporibus omnis recusandae, eos eaque quis in maiores quod
                            architecto.</p>
                        <h3 class="text-center mb-3">#2,500</h3>
                        <button class="btn btn-primary btn-block">subscribe</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mt-3 sub" style="border-color:#D42626;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center" style="color:#D42626;">Monthly Subscription</h3>
                        </div>
                        <p class="mt-5 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Consequatur tempora voluptatem nam adipisci, esse alias officiis aspernatur ipsam
                            laboriosam impedit, temporibus omnis recusandae, eos eaque quis in maiores quod
                            architecto.</p>
                        <h3 class="text-center mb-3">#5,000</h3>
                        <button class="btn btn-danger btn-block">subscribe</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mt-3 sub" style="border-color:#4D2441;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center" style="color:#4D2441;">Yearly Subscription</h3>
                        </div>
                        <p class="mt-5 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Consequatur tempora voluptatem nam adipisci, esse alias officiis aspernatur ipsam
                        laboriosam impedit, temporibus omnis recusandae, eos eaque quis in maiores quod
                        architecto.</p>
                        <h3 class="text-center mb-3">#60,000</h3>
                        <button class="btn btn-block" style="background-color: #4D2441; color: #fff;">subscribe</button>               
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mt-3 sub" style="border-color:#346770;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center" style="color: #346770;">Daily Subscription</h3>
                        </div>
                        <p class="mt-5 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Consequatur tempora voluptatem nam adipisci, esse alias officiis aspernatur ipsam
                            laboriosam impedit, temporibus omnis recusandae, eos eaque quis in maiores quod
                            architecto.</p>
                        <h3 class="text-center mb-3">#1,200</h3>
                        <button class="btn btn-block" style="background-color: #346770;color:#fff;">subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}